.image {
    max-width: 650px;
    height: auto;
    object-fit: cover;
}

.text {
    max-width: 650px;
}

.subHeading {
    font-weight: 200;
    margin-bottom: 16px;
}

.subHeading.dark {
    color: #007FFF;
}

.light {
    color: var(--dark-bg);
    background: var(--white-smoke);
}

.dark {
    color: white;
    background: var(--dark-bg);
}

@media(max-width: 1600px) {
    .image {
        max-width: 500px;
    }

    .text {
        max-width: 550px;
    }

    .text h2 {
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media(max-width: 1350px) {
    section {
        flex-direction: column-reverse !important;
        justify-content: space-around !important;
    }
}

@media(max-width: 600px) {
    .image {
        max-width: 150%;
    }
}