.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    transition: 250ms all ease;
    z-index: 1001;
}

.navbar.scrolled {
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

.menuToggle {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
}