@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --white-smoke: #f5f5f5;
    --dark-bg: #0f0f0f;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

.lead {
    font-weight: 200;
}

.h-100vh {
    height: 100vh;
}

.display-none {
    display: none !important;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-items-center {
    align-items: center;
}

.opacity-0 {
    opacity: 0;
}

.container {
  padding-left: 140px;
  padding-right: 140px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}